html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #222a37;
}

/* pathbar */
div.pathbar {
    background: #3e739d;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
}

div.pathbar ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

div.pathbar ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

div.pathbar ul li a {
    font-weight: bold;
    color: white;
    padding: 0 5px;
}

div.pathbar ul li + li:before {
    content: "/";
    color: #20394d;
}

div.pathbar div.close-link {
    display: inline-block;
    float: right;
}

div.pathbar div.close-link a {
    color: white;
}

/* context nav */
div.context-nav {
    width: 300px;
    color: #737476;
    overflow: auto;
}

div.context-nav h3 {
    color: white;
    margin: 0;
    padding: 10px 0 10px 15px;
    font-weight: normal;
    font-size: 18px;
    background: #0d141e;
}

div.context-nav ul {
    margin: 15px;
    padding: 0;
    list-style: none;
}

div.context-nav ul li a {
    color: white;
}

/* content box */
div.content {
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 300px;
}

div.content div.content-wrapper {
    background: #eee;
    position: relative;
    width: 100%;
    min-height: 100%;
    border: 1px solid #050711;
    border-bottom: 0;
    border-right: 0;
}

.context-nav li.replacement {
    font-style: italic;
}

.context-nav li.unexposed {
    opacity: 0.5;
}

.context-nav li.add {
    font-weight: bold;
    margin-bottom: 8px;
}

/* preview */
div.preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
}

div.preview iframe {
    border: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* message box */
div.message-box {
    font-size: 15px;
    border: 1px solid #eeca5a;
    background: #f1ecdc;
    padding: 15px;
    margin: 30px;
    border-radius: 8px;
}

div.message-box h3 {
    color: #e87352;
    margin: 0 0 15px 0;
}

div.message-box p {
    margin: 0;
}

div.message-box p + p {
    margin: 15px 0 0 0;
}

/* pane */
div.pane {
    padding: 15px 30px 30px 30px;
}
