{% extends "layout.html" %}
{% block body %}
  <div class="editor pane">
    <div class="container">
      <h3>Add Child To “{{ g.source.record_label }}”</h3>

      <form action="" method=post>
        <div class=meta>
          <div class="field row">
            <div class="form-group col-md-12">
              <label for="input-id">ID</label>
              <input type="text" name="_id" id ="input-id" class="form-control">
            </div>
          </div>
          <div class="field row">
            <div class="form-group col-md-12">
              <label for="input-model">Model</label>
              <select name="_model" id="input-model" class="form-control"{%
                  if forced_model %} disabled{% endif %}>
                {% for model_id, model_name in models %}
                  <option class="{{ model_id }}"{% if model_id == default_model
                    %} selected{% endif %}>{{ model_name }}
                {% endfor %}
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Add Child</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
