{% extends "layout.html" %}
{% block body %}
  <div class="editor pane">
    <div class="container">
      <h3>Delete “{{ g.source.record_label }}”</h3>

      {% if g.source.real_children or g.source.attachments %}
        <p>This page has children or attachments!  Deleting this page will also
          remove those.
      {% endif %}

      <form action="" method=post>
        <button type="submit" name="yes" class="btn btn-default">Yes</button>
        <button type="submit" name="no" class="btn btn-default">No</button>
      </form>
    </div>
  </div>
{% endblock %}
