<!doctype html>
<html lang=de>
<head>
<title>Lektor Admin</title>
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
  <div class="pathbar">
    <ul>
    {% for page in g.source.iter_record_path() %}
      <li><a href="{{ action_url(source=page) }}">{{ page.record_label }}</a>
    {% endfor %}
    </ul>
    <div class="close-link"><a href="{{ g.source.url_path }}">Exit Admin</a></div>
  </div>

  <div class=context-nav>
    <div class=box>
      <h3>This</h3>
      <ul>
        <li><a href="{{ action_url('panel.view') }}">View</a>
        <li><a href="{{ action_url('panel.edit') }}">Edit</a>
        {% if g.source.parent %}
        <li><a href="{{ action_url('panel.delete') }}">Delete</a>
        <li><a href="{{ action_url(source=g.source.parent) }}">Go To Parent</a>
        {% endif %}
      </ul>
    </div>

    {% if g.source.record_classification == 'page' and
      g.source.datamodel.child_config.enabled %}
    <div class=box>
      <h3>Children</h3>
      <ul>
      {% if g.source.datamodel.has_own_children %}
        <li class="add"><a href="{{ action_url('panel.add_child') }}">Add New Child</a>
      {% endif %}
      {% for child in g.source.all_children.order_by('_id') %}
        <li class="{% if child.parent != g.source %}replacement {% endif
            %}{% if not child.is_visible %}unexposed {% endif %}"><a href="{{
          action_url(source=child) }}">{{ child.record_label }}</a>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if g.source.record_classification == 'page' and
      g.source.datamodel.attachment_config.enabled %}
    <div class=box>
      <h3>Attachments</h3>
      <ul>
      {% if g.source.datamodel.has_own_attachments %}
        <li class="add"><a href="#">Add New Attachment</a>
      {% endif %}
      {% for attachment in g.source.attachments.order_by('_id') %}
        <li><a href="{{ action_url(source=attachment) }}">{{ attachment._id }}</a>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

  <div class=content>
    <div class=content-wrapper>
      {% block body %}{% endblock %}
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.autosize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
