@import "./bootstrap-overrides.less";
@import "./utils.less";

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

#dash {
  height: 100%;
}

a.active {
  font-weight: 500;
}

div.application {
  height: 100%;
  position: relative;
  margin: 0 auto;

  header {
    margin: 0 auto;
    padding: 0;
    background: @header-taint;

    a {
      color: white;
    }

    /* sidebar toggle button */
    .navbar-toggle {
      float: right;
      margin: 0;
      padding: 4px;
      z-index: 999999;
      border: 1px solid @toggle-group-color;
      background: white;
      margin-left: 10px;
      height: 20px!important;
      width: 20px!important;

      &:hover {
        border-color: #aaa;
      }

      &.active {
        background: @panel-border-color;
        .icon-list {
          background: white;
        }
      }

      .icon-list {
        display: block;
        height: 2px;
        width: 100%;
        background: #c00;
        margin: 0 0 2px 0;
      }
    }

    ul.breadcrumb {
      background: transparent;
      margin: 0 auto;
      height: 34px;
      border-radius: 0;
      z-index: 9000;

      li.missing-record-crumb a {
        color: #888;
      }

      li:before {
        color: @header-sep-color;
      }

      li.new-record-crumb {
        a {
          background: @block-item-background;
          padding: 1px 5px;
          font-weight: bold;
          border: 1px solid @header-taint;
          color: @block-item-color;
          border-radius: @panel-radius;
          text-decoration: none!important;

          &:hover {
            background: @block-item-active-background;
            color: @block-item-active-color;
            border-color: @block-header-background;
            text-decoration: none;
          }
        }

        &:before {
          content: "";
        }
      }

      li.meta {
        float: right;
        a {
          margin-left: 10px;
        }
        &:before {
          content: "";
        }
      }
    }
  }

  div.editor {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;

    dl {
      .form-group {
        margin: 0;
      }
    }

    .sidebar-block {
      height: 100%;
    }

    nav.sidebar {
      padding: 0;
      height: 100%;

      .sidebar-wrapper {
        padding: 10px 0 40px 0;
      }

      h3 {
        margin: 0;
        font-weight: bold;
        font-size: 15px;
        background: @block-header-background;
        color: white;
        padding: 3px 7px;
        display: inline-block;
      }

      ul.nav {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 2px 2px 0 20px;
          padding: 0;

          a:hover {
            background: @block-item-hover-background;
            color: @block-item-hover-color;
          }

          a, > em {
            display: inline-block;
            padding: 5px 10px;
            background: @block-item-background;
            color: @block-item-color;
            &.active {
              font-weight: 500;
              background: @block-item-active-background;
              color: @block-item-active-color;
              outline: none;
            }
          }
        }

        li.alt-missing a {
          color: @block-item-missing-color;
        }
        li.current-alt a {
          font-weight: bold;
        }
      }

      .section + .section {
        margin-top: 15px;
      }
    }

    div.view {
      position: relative;
      height: 100%;
      padding: 10px 0 20px 10px;

      h2 {
        margin: 0;
        font-weight: 400;
      }
    }
  }

  div.preview {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    iframe {
      display: block;
      border: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// form specifics
.form-group {
  div.validation-block {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
  }

  div.validation-block-error {
    color: @state-danger-text;
  }

  div.validation-block-warning {
    color: @state-warning-text;
  }
}

.edit-area {
  dl.system-field dt {
    color: @toggle-group-color;
    font-style: italic;
  }

  dl.field {
    dt {
      font-weight: bold;
      margin-bottom: 5px;
    }

    dd {
      margin-left: 0;
    }
  }

  div.flow-block {
    background: @flow-block-panel-background;
    border: 1px solid @panel-border-color;
    margin: 0;
    padding: 5px 10px;
    border-radius: @panel-radius;

    &+ div.flow-block {
      margin-top: 15px;
    }

    h4 {
      margin: 0;
      font-size: 14px;
      background: @flow-block-header-background;
      color: @flow-block-header-color;
      margin: -5px -10px 5px -10px;
      padding: 5px 10px;
    }

    dl {
      margin: 5px 0;
    }

    ul.actions {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;

      li {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }

  div.flow {
    padding: 10px;
    background: @flow-panel-background;
    border: 1px solid @panel-border-color;
    border-radius: @panel-radius;

    div.add-block {
      background: @background-taint;
      border: 1px solid @panel-border-color;
      margin-top: 15px;
      padding: 5px 10px;
      border-radius: @panel-radius;
    }
  }
}

div.toggle-group {
  padding: 10px;
  margin: 15px 0;
  background: @background-taint;
  border: 1px solid @panel-border-color;
  border-radius: @panel-radius;

  h4 {
    margin: 0;
    padding: 0;
    cursor: pointer;
    line-height: 20px;
    font-size: 15px;

    &:before {
      content: "";
      display: block;
      float: left;
      width: 16px;
      font-size: 12px!important;
      text-align: left;
      text-decoration: none!important;
      color: @toggle-group-color!important;
    }
  }

  &.toggle-group-open {
    h4:before {
      content: "▼";
    }
  }

  &.toggle-group-closed {
    h4:before {
      content: "▶";
    }

    .children {
      display: none;
    }
  }

  div.header {
    height: 20px;
  }
}

div.actions {
  background: @background-taint;
  border-radius: @panel-radius;
  padding: 10px;
  margin: 15px 0;

  > * {
    margin-right: 5px;
  }
}

div.sliding-panel {
  > div {
    z-index: 5000;
    background: @background-taint;
    padding: 15px 20px;
    box-shadow: 0 0 25px @header-taint;

    a.close-btn {
      float: right;
    }

    h3 {
      margin: 0;
    }

    div.form-group {
      margin: 15px 0;
    }

    ul.search-results {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 2px 0;
        padding: 3px 10px;
        cursor: pointer;

        span.parent {
          &:after {
            content: " / ";
          }
        }
      }

      li.active {
        background: white;
      }
    }
  }
}

pre.build-log {
  overflow: auto;
  max-height: 200px;
}
